__pycache__
*.egg-info
**.pyc
.vscode
.pytest_cache

doc/build
outputs/
**/*cache
**/core
**/**.prof
.VSCodeCounter
.idea/
**/debug_logs/
tests/test_data
**/*.pkl

examples/benchmark/data/market_data/**
examples/benchmark/data/market_data
**/mlruns/
**/outputs/
**/slurm_logs/
**/mlrun*/**
**/data_wsz/
**/PortfolioVecEnv-v0_PPO_0/
**/tensorboard_logs/**

**/market_data/**
examples/benchmark/returns.csv
**/multirun/
**/catboost_info/
docs/build/
